.App {
  text-align: center;
  overflow-x: hidden;
  background: #f7f1e5;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Landing Page goes here */
.landing_container {
  background: #f5efe1;
  height: 100vh;
  width: 100vh;
}
.landing_container_left {
  height: 100vh;
  background: #f5efe1;
  flex-wrap: wrap !important;
}
.landing_container_right {
  height: 100vh;
  background: #283d41;
  flex-wrap: wrap !important;
}
.upload_icon {
  height: 5vh;
  width: 5vw;
}
.main_form_top {
  background-color: transparent;

  flex-direction: column;
  display: block;
}
.input_file_div {
  background-color: #efe4d6 !important;
  height: 15vh;
}
.main_form_top > .input_file_div > label {
  display: block;
  text-align: center;
  margin-top: 2vh;
  font-size: 20px !important;
  font-family: "Nunito", serif !important;
}
.main_form_top > .input_file_div > label > i {
  /* color: #fff !important; */
  margin-right: 10px;
  font-size: 40px;
  margin-top: 4vh;
  color: #283d41;
}
.input-file {
  position: fixed;
  top: -9999px;
}
.main_form_bottom {
  background-color: transparent;
  height: 40vh;
  flex-direction: column;
  margin-top: 4%;
}
.landing_form {
  max-width: 30vw !important;
  margin: 0 auto;
  margin-top: 15%;
}
.small {
  font-size: 16px !important;
  font-family: "Nunito", serif !important;
  text-transform: uppercase;
}
textarea {
  min-height: 15vh !important;
  max-height: 30vh !important;
}
input[type="file"] {
  background: transparent !important;
  border: 0px !important;
}
.input_common {
  font-family: "Nunito", serif !important;
  font-size: 19px !important;
  color: #707980 !important;
  text-decoration: none !important;
  border: 0px !important;
  border-radius: 0px !important;
  /* box-shadow: 1px 0px 1px #fff; */
}
.input_common:focus {
  text-decoration: none !important;
}
.textarea_common {
  font-family: "Nunito", serif !important;
  font-size: 19px !important;
  color: #707980 !important;
  border: 0px !important;
  border-radius: 0px !important;
  /* box-shadow: 1px 0px 1px #fff; */
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* *:focus {
  outline: none !important;
}
 */
.send_button {
  background-color: #283d41 !important;
  border: 0px !important;
  font-family: "Nunito", serif !important;
}
.send_button:focus,
.send_button:active {
  outline: 0 !important;
}
.upload_files_selected {
  max-height: 13vh;
  overflow-y: auto;
  height: auto;
  position: relative !important;
}
.upload_files_selected_content {
  line-height: 5vh;
  border: 1px solid #283d41;
  margin-bottom: 2vh;
}
.upload_files_selected_content_name {
  display: inline-block;
  text-align: left;
  position: relative;
  /* margin-right: 10px; */
  width: 80%;
  line-break: strict !important;
  word-wrap: break-word !important;
}
.upload_files_selected_content_remove {
  display: inline;
  /* position: absolute; */
  margin-left: 20px;
  width: 20%;
  text-align: right;
  border: 1.5px solid #283d41;
  padding: 3px 5px 3px;
}
.upload_files_selected_content_remove > i {
  color: #283d41;
}

/* Uploading page css goes here */
.uploading_form {
  background: #fff;
  border-radius: 5px;
  width: 30vw;
  height: 75vh;
  margin: 0 auto;
  margin-top: 15%;
}
.image_upload {
  height: 15vh;
  margin-top: 5vh;
}
.center_items_uploading {
  width: 20vw;
  margin: 0 auto;
}
.uploading_heading {
  font-family: "Nunito", serif;
  font-size: 20px;
  margin-top: 13vh;
  color: #283d41;
  font-weight: 600;
}
.uploading_subheading {
  font-family: "Nunito", serif;
  margin-top: 5vh;
  text-align: left;
  font-size: 17px;
}
.uploading_downcontent {
  display: flex;
  flex-direction: row;
  text-align: left;
  /* width: 20vw; */
  margin: 0 auto;
  margin-right: 0vw;
  margin-top: 4vh;
  font-size: 16px;
  font-family: "Nunito", serif;
}
.uploading_downcontent_left {
  flex-grow: 1;
}
.uploading_cancel_button {
  margin-top: 6vh;
  background: #283d41 !important;
  outline: none !important;
  border: 0px !important;
  font-family: "Nunito", serif;
  line-height: 2 !important;
}
.MuiLinearProgress-root {
  height: 1.2vh !important;
  border-radius: 5px;
  margin-top: 3vh;
}
/* .MuiLinearProgress-dashedColorSecondary {
  background-size: 10px 10px;
  background-image: radial-gradient(
    rgba(40, 61, 65, 0.76) 0%,
    rgb(50, 84, 90) 16%,
    transparent 42%
  ) !important;
  background-position: 0px -23px;
  margin-top: 2px !important;
} */
.MuiLinearProgress-barColorSecondary {
  background-color: #283d41 !important;
}
.MuiLinearProgress-barColorPrimary {
  background-color: #283d41 !important;
}
.MuiLinearProgress-colorSecondary {
  background-color: rgba(40, 61, 65, 0.76) !important;
}
.MuiLinearProgress-colorPrimary {
  background-color: rgba(49, 91, 99, 0.64) !important;
}

/* Upload file sent css goes here */
.fileSent {
  background: #fff;
  border-radius: 5px;
  width: 30vw;
  height: 75vh;
  margin: 0 auto;
  margin-top: 15%;
}
.fileSent_top {
  height: 35%;
  /* background: tomato; */
  width: 100%;
  position: relative;
}
.fileSent_bottom {
  height: 65%;
  /* background: blue; */
  width: 100%;
  position: relative;
}
.fileSent_heading {
  font-family: "Nunito", serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  color: #283d41;
}
.fileSent_buttons {
  width: 80%;
  margin: 0 auto;
  font-family: "Nunito", serif;
  margin-top: 6vh;
}
.fileSent_buttons_back {
  font-weight: 400;
  border: 2px solid #283d41 !important;
  background: #283d41 !important;
  margin-top: 2vh !important;
}
.fileSent_buttons_noback {
  border: 2px solid #283d41 !important;
  margin-top: 2vh !important;
  color: #283d41 !important;
}
.fileSent_para {
  width: 80%;
  margin: 0 auto;
  margin-top: 4vh;
  font-family: "Nunito", serif;
  color: #283d41;
  font-size: 18px !important;
}
.fileSent_shared_link {
  text-decoration: none !important;
  color: #fff;
}
.fileSent_shared_link:hover {
  color: #fff;
}

/* File Retrieve Page css goes here */
.shareContent_left {
  background: #fff;
  border-radius: 5px;
  width: 30vw;
  height: 75vh;
  margin: 0 auto;
  margin-top: 15%;
}
.shareContent_left_top {
  height: 28%;
  /* background: tomato; */
  width: 100%;
  position: relative;
}
.shareContent_left_bottom {
  height: 72%;
  /* background: blue; */
  width: 100%;
  position: relative;
}
.shareContent_items {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  font-family: "Nunito", serif;
  margin-top: 6%;
  color: #283d41 !important;
  font-weight: 400;
}
.shareContent_items_first {
  flex-grow: 1;
}
.shareContent_items_second {
  flex-grow: 1;
  /* display: list-item;
  list-style-type: disc;
  list-style-position: inside; */
}
.shareContent_items_second::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  height: 7px;
  width: 7px;
  margin-top: 8px;
  background: #283d41;
  display: block;
}
.shareContent_items_third {
  flex-grow: 1;
  /* display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  */
}
.shareContent_items_third::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  height: 7px;
  width: 7px;
  margin-top: 8px;
  background: #283d41;
  display: block;
}

.shareContent_buttons {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}
.shareContent_button_top {
  background: #283d41 !important;
  border: 2px solid #283d41 !important;
}
.shareContent_button_bottom {
  /* background: #283d41 !important; */
  border: 2px solid #283d41 !important;
  color: #283d41 !important;
  background: #fff !important;
  margin-top: 3% !important;
}
.shareContent_list_div {
  margin-top: 5%;
  min-height: 20vh;
  height: auto;
  max-height: 20vh;
  /* background: blue; */
  overflow-y: auto;
}
.shareContent_list {
  display: block !important;
  width: 95% !important;
  margin: 0 auto !important;
  margin-left: -1% !important;
}
.shareContent_list_item {
  list-style: none;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  /* background: tomato; */
  border-bottom: 0.5px solid #283d41ba !important;
  line-height: 45px;
  font-family: "Nunito", serif;
  margin-top: 2% !important;
  text-align: left;
  padding-left: 10px !important;
  display: flex;
}
.shareContent_list_item_left {
  flex-grow: 1;
}
.shareContent_list_item_right {
  margin-right: 4%;
}
.shareContent_list_item_right > i {
  height: 40px !important;
  color: #283d41 !important;
  -mozkit-transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.shareContent_list_item_right > i:hover {
  color: #283d41ba !important;
  -mozkit-transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.shareContent_heading {
  font-family: "Nunito", serif;
  font-size: 25px !important;
  color: #283d41 !important;
  font-weight: 400 !important;
}
.fa-download {
  color: #283d41 !important;
}
.fa-download:hover {
  color: #283d41ba !important;
  -mozkit-transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.shareContent_button_top_link {
  text-decoration: none !important;
}

/* Validation errors */
.form-error-text {
  display: block;
  text-align: left !important;
  font-size: 14px !important;
  color: red !important;
  margin-top: 5px !important;
}
#error-css {
  border: 1.5px solid red !important;
}
/* Register Page CSS goes here */
.register,
.login {
  margin-top: 10%;
  margin-bottom: 5%;
}

.register_heading,
.login_heading {
  font-family: "Nunito", sans-serif;
  color: #283d41;
}

.text-field {
  /* max-width: 85%; */
  margin: 0 auto;
  margin-top: 3%;
  border: none !important;
  border-bottom: 2px solid #283d41f0 !important;
  border-radius: 0px !important;
  background: #f7f1e5 !important;
}

.login_home {
}
.register_form,
.login_form {
  position: relative;
  margin-top: 8%;
}
.register_button,
.login_button {
  background-color: #283d41 !important;
  border-color: #283d41 !important;
  height: 50px;
  font-size: 1.2em !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
}
.already_line {
  margin-top: 4%;
  font-family: "Nunito", sans-serif !important;
  font-weight: 400 !important;
}

.already_line > span > a {
  text-decoration: none !important;
  color: #283d41;
}

.auth-error {
  display: flex !important;
  color: red !important;
}
#auth-error {
  border-bottom: 2px solid red !important;
}

/* navbar css goes here */
.navbars {
  width: 40% !important;
  position: absolute !important;
  right: 0 !important;
  top: 4%;
}
.navbar-list {
  display: flex;
  flex-grow: 1;
  /* margin-right: -30px; */
}
.navbar-list-item {
  /* flex-grow: 1; */
  font-size: 20px;
  font-family: "Nunito", serif;
  color: #e8e3d6 !important;
  font-weight: 500;
}
.navbar-list-item:nth-child(1) {
  flex-grow: 1 !important;
  /* margin-left: 10% */
}
.navbar-list-item:nth-child(2) {
  flex-grow: 2 !important;
}
a {
  color: #e8e3d6 !important;
  position: relative;
}
a:hover {
  /* background: tomato !important; */
  text-decoration: none !important;
}
a:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0.1rem;
  background-color: #e8e3d6;
}
*,
:after,
:before {
  box-sizing: border-box;
  transition: 0.3s all ease;
}
a:hover:before {
  width: 100%;
}

/* Not found page css goes here */
.not-found {
  margin-top: 22%;
}
.not-found-h4 {
  font-size: 7vw !important;
  font-weight: 600;
  font-family: "Nunito", serif !important;
  color: #283d41;
}
.not-found-h5 {
  font-size: 3vw;
  margin-top: 2%;
  color: #283d41;
}
.go-home-button {
  margin-top: 5%;
  width: 25% !important;
  height: 8vh !important;
  border: 3px solid #283d41;
  background: #283d41;
  color: #e8e3d6;
  font-size: 1.7vw;
  font-family: "Nunito", serif !important;
}
.go-home-button:hover {
  background: transparent;
  color: #283d41;
  text-decoration: none;
}

.no-hover:hover:before {
  width: 0% !important;
}

/* My Uploads css goes here */
.uploads_details {
}
.uploads_details_heading {
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 10%;
  color: #283d41;
  font-family: "Raleway", serif;
  font-weight: 500;
}
.uploads_details_hr {
  width: 35%;
  margin: 0 auto;
  height: 4px !important;
  border: 0px !important;
  background: #283d41e8;
}
.uploads_details_list {
  width: 80%;

  margin: 0 auto;
  margin-top: 8%;
  line-height: 50px;
  max-height: 70vh;
  overflow-y: auto;
}
.uploads_details_list_item {
  display: flex;
  margin-top: 4%;
  background: #e8e3d6;
}
.uploads_details_list_item_left {
  flex-grow: 2;
  text-align: left;
  padding-left: 20px;
  font-family: "Nunito", serif;
  color: #283d41;
  min-width: 420px;
  max-width: 420px !important;
}
.uploads_details_list_item_right_first {
  flex-grow: 1;
  background: #283d41;
}
.uploads_details_list_item_right_second {
  flex-grow: 1;
}
.uploads_details_list_item_right_first > i {
  color: #fff !important;
}
.uploads_logo_i {
  color: #e8e3d6 !important;
  font-size: 50px;
  left: 0;
  position: absolute;
  top: 3%;
  left: 10%;
}
.bg-back {
  position: absolute;
  /* bottom: -5%; */
  right: -10%;
  height: 100%;
  opacity: 0.03;
}

.main_heading {
  font-family: "Libre Baskerville", serif;
  position: relative;
  top: 28%;
  font-size: 7vh !important;
  color: #e8e3d6;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  line-height: 10vh;
}
.main_para {
  font-family: "Nunito", serif;
  color: #e8e3d6;
  font-size: 18px;
  position: relative;
  top: 33%;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 3vh;
}
.main_button {
  position: relative;
  margin-top: 43%;
  height: 8vh;
  width: 15vw;
  float: left;
  left: 10%;
  background: #e8e3d6;
  color: #283d41;
  font-family: "Nunito", serif;
  font-size: 25px;
  border: none !important;
}
.input_common,
.textarea_common {
  background-color: #e8e3d6 !important;
}
